// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

$primary: #ffbc00;
$primary-500: #dfa503;
$secondary: black;
$secondary-500: #161616;
$secondary-300: #3f3f3f;
$secondary-200: #67686a;

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

body {
	font-size: 18px;
	font-family: "Roboto", sans-serif;
	background: black;
	color: wheat;
	min-height: 8000px;
}

.button {
	display: inline-block;
	color: white;
	border: 1px solid $primary;
	padding: 0.5em 1em;
	background: black;
	border-radius: 1.5em;
	font-size: 20px;

	@media (max-width: $md) {
		margin-left: 0px;
	}

	&.top-header-contact-email {
		@media (max-width: $xl) {
			display: none;
		}
	}

	.fa {
		color: $primary;
		margin-right: 0.5em;
	}
	transition: ease 0.25s all;
	&:hover {
		background: $primary;
		color: white;
		text-decoration: none;
	}
}

.top-header {
	background: black;
	height: 115px;
	@media (max-width: $md) {
		padding-top: 30px;
		padding-bottom: 45px;
		height: auto;
	}
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-image: url(../img/header-top-bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	.top-header-contact {
		display: flex;
		justify-content: flex-end;

		@media (max-width: $md) {
			justify-content: space-between;
		}

		.mobile-menu-dropdown {
			display: none;

			@media (max-width: $md) {
				display: block;
			}
			button {
				color: white;
				font-weight: bold;
				padding: 0.5em 1em;
				font-size: 20px;
				border-radius: 0px;
				border: none;
				span {
					margin-right: 0.5em;
				}
				&:hover {
					background: black;
				}
			}
		}

		a {
			display: inline-block;
			color: white;
			border: 1px solid $primary;
			padding: 0.5em 1em;
			background: black;
			border-radius: 1.5em;
			font-size: 20px;
			margin-left: 1em;

			@media (max-width: $md) {
				margin-left: 0px;
			}

			&.top-header-contact-email {
				@media (max-width: $xl) {
					display: none;
				}
			}

			.fa {
				color: $primary;
				margin-right: 0.5em;
			}
		}
	}
	.mobile-holder-logo {
		@media (max-width: $md) {
			text-align: center;
		}
		margin-bottom: 30px;
	}
}

#main-nav {
	background: $secondary-300;
	border-top: 1px solid $secondary-200;
	border-bottom: 1px solid $secondary-200;

	#navbarNavDropdown {
		@media (max-width: $xl) {
			padding-top: 30px;
		}
	}

	.mobile-menu-dropdown {
		display: none;
		@media (max-width: $xl) {
			display: block;
		}
		@media (max-width: $md) {
			display: none;
		}
		button {
			color: white;
			font-weight: bold;
			padding: 10px;
			border-radius: 0px;
			border: none;
			span {
				margin-right: 0.5em;
			}
			&:hover {
				background: black;
			}
		}
	}

	.search-input-holder {
		border: 8px solid $primary;
		background: white;
		padding: 0px 10px;
		width: 350px;
		@media (max-width: $md) {
			width: 100%;
		}
		border-radius: 15px;
		margin-top: -30px;
		margin-bottom: -30px;
		display: flex;
		align-items: center;

		.title {
			font-size: 22px;
			font-weight: 300;
			margin-right: 10px;
			color: black;
		}

		input {
			flex: 1;
			font-size: 22px;
			padding: 20px 0px;
			border: none;
			outline: none;
			&::placeholder {
				font-weight: bold;
				color: black;
			}
		}
	}

	#main-menu {
		li {
			a {
				font-size: 18px;
				font-weight: bold;
				text-transform: uppercase;
				color: white;
				padding-left: 15px;
				padding-right: 15px;
			}
			&.current-menu-item {
				a {
					color: $primary;
				}
			}
			.dropdown-menu {
				background: $secondary-300;
				li {
					a {
						&:hover {
							background: black;
						}
					}
				}
			}
		}
	}
}

.home-hero-banner-top {
	margin-top: 100px;
	@media (max-width: $md) {
		margin-top: 45px;
	}

	.skip-bin-info-holder {
		border: 4px dashed $primary;
		background: $secondary-500;
		padding: 30px;
		border-radius: 30px;
		position: relative;
		@media (max-width: $md) {
			padding: 15px;
			border-radius: 15px;
		}

		.overlay-image-arrow {
			position: absolute;
			bottom: 100%;
			right: 25%;
			@media (max-width: $md) {
				display: none;
			}

			img {
				width: 135px;
				height: 146px;
			}
		}

		.title {
			font-size: 48px;
			font-weight: bold;
			@media (max-width: $md) {
				font-size: 30px;
			}
			.fa {
				color: $primary;
			}
		}

		.desc {
			font-size: 24px;
			font-weight: 300;
			color: $primary;
			@media (max-width: $md) {
				font-size: 18px;
			}
		}
	}

	.seven-day-skip-info {
		img {
			@media (max-width: $lg) {
				display: none;
			}
		}

		.title {
			display: none;
			color: $primary;
			font-size: 36px;
			font-family: "Just Another Hand", cursive;
			margin-top: 15px;
			@media (max-width: $lg) {
				display: block;
			}
		}
	}

	.home-hero-slider {
		margin-top: 50px;
		border-radius: 30px;
		overflow: hidden;
		margin-bottom: -110px;
		@media (max-width: $md) {
			margin-bottom: -175px;
			margin-top: 15px;
		}
		position: relative;
		z-index: 500;
		.slide {
			.image {
				height: 420px;
				background: red;
				background-image: url(../img/slider-1.jpg);
				background-size: cover;
				background-position: center;
				@media (max-width: $lg) {
					height: 320px;
				}
				@media (max-width: $md) {
					height: 210px;
				}
			}
			.entry-content {
				background: white;
				height: 110px;
				color: black;
				font-size: 30px;
				font-weight: bold;
				display: flex;
				line-height: 1.15;
				align-items: center;
				padding-bottom: 5px;

				@media (max-width: $md) {
					height: 175px;
					flex-direction: column;
					align-items: flex-start;
					justify-content: center;
				}
				.icon {
					padding-left: 30px;
					@media (max-width: $lg) {
						display: none;
					}
					img {
						max-height: 100px !important; // ddv 13/07/2023 16:45
					}
				}
				.info {
					padding-left: 30px;
					font-size: 30px;
					@media (max-width: $lg) {
						font-size: 24px;
					}
				}
				.slider-nav {
					display: flex;
					margin-right: 15px;
					@media (max-width: $md) {
						margin-top: 5px;
						margin-right: 0px;
						margin-left: 15px;
					}
					a {
						margin-left: 15px;
						margin-right: 15px;
						font-size: 48px;
						color: $primary;
						display: inline-block;
					}
				}
			}
		}
	}
}

.home-product-info {
	background: $primary;
	padding-top: 200px;
	padding-bottom: 100px;

	.home-special-offer-background-overlay {
		position: relative;
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 50px;
			bottom: 50px;
			left: 0;
			right: 0;
			background: rgba(black, 0.1);
		}
	}

	.home-special-offer {
		background: black;
		border-radius: 15px;
		display: flex;
		padding: 50px;
		position: relative;
		z-index: 500;

		@media (max-width: $md) {
			display: block;
			padding: 30px;
		}

		.discount-circle {
			height: 268px;
			min-width: 268px;
			border-radius: 50%;
			background: white;
			color: black;
			line-height: 0.9;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			display: inline-flex;
			position: relative;

			.abs-holder {
				flex-direction: column;
				justify-content: center;
				align-items: center;
				display: inline-flex;

				@media (max-width: $md) {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}

			@media (max-width: $xl) {
				height: 156px;
				min-width: 156px;
			}

			@media (max-width: $md) {
				margin-top: 15px;
				width: 100%;
				padding-top: 100%;
			}

			.save {
				font-size: 48px;
				font-weight: 900;
				text-transform: uppercase;
				@media (max-width: $xl) {
					font-size: 30px;
				}
				@media (max-width: $md) {
					font-size: 48px;
				}
			}
			.percent {
				font-size: 100px;
				font-weight: 900;
				@media (max-width: $xl) {
					font-size: 48px;
				}
				@media (max-width: $md) {
					font-size: 100px;
				}
			}
		}
		.entry-content {
			padding-left: 50px;

			@media (max-width: $md) {
				padding-left: 0px;
			}

			.title {
				font-size: 36px;
				color: $primary;
				font-weight: bold;
				@media (max-width: $xl) {
					font-size: 30px;
				}
			}
			.desc {
				font-size: 24px;
				font-weight: 300;
				margin-top: 30px;
				margin-bottom: 30px;

				@media (max-width: $xl) {
					font-size: 18px;
				}

				@media (max-width: $md) {
					margin-top: 15px;
					margin-bottom: 15px;
				}
			}
		}
	}

	.home-products-holder {
		margin-top: 100px;
		h2 {
			font-size: 48px;
			color: black;
			font-weight: bold;
			margin-bottom: 15px;

			i {
				margin-right: 0.25em;
			}
		}
		.home-products {
			.home-product {
				border-radius: 15px;
				background: white;
				color: black;
				padding: 30px;
				position: relative;

				img {
				}
				.title {
					font-size: 30px;
					font-weight: bold;
					margin-bottom: 15px;
				}
				ul {
					list-style: none;
					margin: 0;
					padding: 0;

					li {
						margin: 0;
						padding: 0;
						font-size: 16px;
						font-weight: 300;

						&:before {
							content: "\f0da";
							display: inline-block;
							font-family: FontAwesome;
							margin-right: 0.5em;
							color: $primary;
						}
					}
				}

				.home-product-circles {
					display: flex;
					.circle {
						width: 100%;
						padding-top: 100%;
						background: $primary;
						border-radius: 50%;
						position: relative;

						.abs-circle-holder {
							position: absolute;
							top: 15px;
							bottom: 15px;
							left: 15px;
							right: 15px;
							display: flex;
							justify-content: center;
							align-items: center;
							flex-direction: column;
							text-align: center;
							line-height: 1;

							.content-holder {
								font-weight: 500;
								font-size: 16px;
							}
							.icon {
								margin-top: 15px;
							}
						}
					}
				}

				.abs-holder-button {
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
					padding: 5px 30px;
					font-size: 18px;
					font-weight: bold;
					color: white;
					background: black;
					border-top-left-radius: 15px;
					border-top-right-radius: 15px;
					text-transform: uppercase;
				}
			}
		}
	}
}
